.aside {
  width: 30vw !important;
  height: 85vh;
  border-right: solid 1px #c4c4c4;
  .main-link {
    border-bottom: solid 1px #c4c4c4;
    font-size: 11pt;
  }
  .main-link:hover,
  .selected-tab {
    background-color: #014a2a;
    color: white;
  }
  .aside-logo-container {
    height: 70px;
  }
  .aside-tabs {
    overflow-y: auto;
  }
}
